* {
	box-sizing: border-box;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
}

.container-avatar {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	height: 300px;
	border-radius: 60px;
	background-color: red;

}

.container-login {
}

.container-login-input {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	width: 360px;
	margin-top: 20px;
	margin-bottom: 20px;
}


input[type="text"]
{
	font-size:30px;
}

input[type="password"]
{
	font-size:30px;
}
